html
{
    background-color:#553d67;
}
body{
    background-size:100%;
    background-color: #5680E9;
    font-family: 'Montserrat', sans-serif;
   
}
/*#title
{
    margin:15px auto;
    padding:15px;
    border:0px solid;
    border-radius:5px;   
}*/
header
{
    font-family: 'Montserrat', sans-serif;
    font-size: 60px;
    text-align: center;
    color:red;
    background-color:#242582; 
}
.main
{
    background: #f98006;
    width:750px;
    height:400px;
    margin:15px auto;
    padding:20px;
    border:2px groove rgb(7, 2, 2);
    border-radius:5px;
    box-shadow:4px 4px 2px slateblue;
}

input{
padding: 10px;   
width:85%;
height:100%;
background-size:cover;
font-family: 'Source Sans Pro', sans-serif;
font-size:15px;
}
#deg
{
   /* padding:15px;
    width:30px;
    height:20px;
    margin:5px;*/
    background-color: #ff8c66;
}
button{
   /* background: linear-gradient(
        30deg,
        #ccffff,
        #ffcccc
      );*/
    padding:8px;
    min-width:80px;
    min-height:50px;;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    background-color:#ffff00;
    font-family: 'Volkhov', serif;
    font-size: 20px;
    font-weight: bold;
}
@media only screen and (max-width: 800px) 
{
    button{
       /* -webkit-column-count: 3;
        -moz-column-count:3;
        column-count: 3;*/
        max-height: 60px;
         }
    .main{
        
    width:370px;
    height:700px;
    margin:5px auto;
    padding:5px;
    border:2px groove steelblue;
    border-radius:5px;
    box-shadow:4px 4px 2px slateblue;
        }
  
  }
button:hover
{
    background-color:#aaaa00;
}
#name
{
        padding:12px;
        width:30%;
        height: 40%;
        text-align: center;
        margin: auto;
        font-family:'Pacifico',cursive;
}
#align{
    text-align: center;
    padding: 5px 5px 10px 5px;
    border-radius: 4px; 
    
}

/*  #a,#b,#c
    {
        display:block;
        width:100vw;
    }*/

    /*#content{
        -webkit-column-count: 3;
        -moz-column-count:3;
        column-count: 3;
        -webkit-column-gap: 10px;
        -moz-column-gap: 10px; 
        column-gap: 10px;
    }

    */  
 